{% extends 'blog/base.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date"> Published {{ post.publish }} by {{ post.author }}</p>
    {{ post.body|linebreaks }}
    <p>
        <a href="{% url 'blog:post_share' post.id %}">Share this post</a>
    </p>
    {% with comment.count as total_comments %}
        <h2>{{ total_comments }}comment {{ total_comments|pluralize }}</h2>
    {% endwith %}
    {% for comment in comments %}
        <div class="comment">
            <p>
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p> There are no comments yet. </p>
    {% endfor %}

{% if tag %}
    <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}
    <p>
        Tags:
            {% for tag in post.tags.all %}
        <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
            {{ tag.name }}
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </a>
    </p>

    {% if new_comment %}
        <h2>Your comment has been added. </h2>
    {% else %}
        <h2>Add a new comment</h2>
        <form action="." method="post">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
        </form>
    {% endif %}
{% endblock %}
