{% extends 'blog/base.html' %}
{% block title %} My Blog! {% endblock title %}

{% block content %}
    <h1>Creativity</h1>

    {% if tag %}
    <h2>Posts tagged with "{{ tag.name }}"</h2>
    {% endif %}
    <p>
        Tags:
            {% for tag in post.tags.all %}
        <a href="{% url 'blog:post_list_by_tag' tag.slug %}">
            {{ tag.name }}
            {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </a>
    </p>
        {% for post in object_list %}
        <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        <p class ='date'> Published {{ post.publish }} by {{ post.author }}</p>
        {{ post.body|truncatewords:30|linebreaks }}
    {% endfor %}
        {% include 'blog/paginator.html' with page=posts %}
{% endblock %}
